/* *{border : 1px solid black;} */
#jtron {
    background-color: #567C95;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#navbar {
    margin-bottom: 0px;
}

#container {
    padding: 5px 10%;
    background-color: #A2BDCF;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 20px;
}

img {
    width: 300px;
}

.card {
    background-color: #EEEEEE;
    padding: 5px;
    margin: 25px;
}

.card-img-top {
    width: 100%;
}

#SoManyDivs {
    margin: 20px;
}

#jobTable {
    width: 90%;
}

tr:hover {
    background-color: rgb(150, 150, 200);
}

th {
    border: 2px solid #032236;
}

td {
    border: 1px solid #032236;
    text-align: center;
}

